<form (submit)="inserirLancamento(); refreshPage()">
  <div class="container-form">
    <div class="container-dentro-form">

      <div class="titulo-container">
        <p>Novo Lançamento</p>
      </div>

    
    <div class="form-group">
      <label for="descricao">Descrição:</label>
      <input class="input-padrao" type="text" id="descricao" [(ngModel)]="novoLancamento.descricao" name="descricao" required>
    </div>
  
    <div class="form-group">
      <label  for="data">Data:</label>
      <input class="input-data" type="date" id="data" [(ngModel)]="novoLancamento.data" name="data" required>
    </div>
  
    <div class="form-group">
      <label for="valor">Valor:</label>
      <input class="input-padrao"  type="number" id="valor" [(ngModel)]="novoLancamento.valor" name="valor" required>
    </div>
  
    <div class="form-group">
      <label for="status">Status:</label>
      <select class="input-padrao"  id="status" [(ngModel)]="novoLancamento.status" name="status" required>
        <option [ngValue]="true">Ativo</option>
        <option [ngValue]="false">Inativo</option>
      </select>
    </div>
    
    <div class="form-group">
      <label for="avulso">Avulso:</label>
      <input class="input-check" type="checkbox" id="avulso" [(ngModel)]="novoLancamento.avulso" name="avulso">
    </div>
  
    
  
   <div class="buttons-container">
    <button class="button-inserir" type="submit">Inserir Lançamento</button>
    
    <a class="button-link" href="/lancamento">Cancelar</a>
   </div>
  </div>
  </div>
</form>


